In [26]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
os.chdir(r"C:\Users\dimit\Desktop\Laing O'Rourke Tech Assessment")

data = pd.read_excel("Online Retail.xlsx", parse_dates=["InvoiceDate"])

I downloaded the data from the link, saved it locally and loaded it into a dataframe. Next steps is initial observations, pre-processing and cleaning, get more information about data types and missing values.

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [28]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [29]:
data.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom

I noticed the C string in the Invoices column whilst initial screening in Excel

In [30]:
data.InvoiceNo.str.contains("C").sum()

9288

In [31]:
data = data[data.InvoiceNo.astype(str).str.contains("C") == False]

Check for outliers and remove them

In [32]:
data[data['UnitPrice']>500].groupby(["StockCode"]).tail(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom
187584,552980,POST,POSTAGE,1,2011-05-12 14:52:00,523.00,12590.0,Germany
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom
222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.50,15098.0,United Kingdom
236402,557754,POST,POSTAGE,1,2011-06-22 13:12:00,700.00,12432.0,Norway
264976,560187,POST,POSTAGE,1,2011-07-15 12:05:00,550.94,17444.0,Canada
299982,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom
343000,566927,M,Manual,1,2011-09-15 15:20:00,2033.10,17846.0,United Kingdom
347948,567353,M,Manual,1,2011-09-19 16:14:00,2653.95,NaN,Hong Kong
374542,569382,M,Manual,1,2011-10-03 16:44:00,3155.95,15502.0,United Kingdom
398150,571223,M,Manual,1,2011-10-14 13:36:00,599.50,13810.0,Germany
406406,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744.0,Singapore
406407,571751,M,Manual,1,2011-10-19 11:18:00,2118.74,12744.0,Singapore
422351,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536.0,France
422376,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536.0,France
455621,575632,M,Manual,1,2011-11-10 13:44:00,549.34,12473.0,Germany
468046,576389,M,Manual,1,2011-11-15 10:05:00,850.50,12748.0,United Kingdom
528788,580729,DOT,DOTCOM POSTAGE,1,2011-12-05 17:24:00,1172.10,NaN,United Kingdom
529478,580730,DOT,DOTCOM POSTAGE,1,2011-12-05 17:28:00,845.23,NaN,United Kingdom
532111,580983,DOT,DOTCOM POSTAGE,1,2011-12-06 16:26:00,736.38,NaN,United Kingdom
533491,581023,DOT,DOTCOM POSTAGE,1,2011-12-07 10:35:00,1861.46,NaN,United Kingdom
536048,581217,DOT,DOTCOM POSTAGE,1,2011-12-08 09:20:00,863.80,NaN,United Kingdom
536834,581219,DOT,DOTCOM POSTAGE,1,2011-12-08 09:28:00,1008.96,NaN,United Kingdom
537254,581238,DOT,DOTCOM POSTAGE,1,2011-12-08 10:53:00,1683.75,NaN,United Kingdom
539368,581439,DOT,DOTCOM POSTAGE,1,2011-12-08 16:30:00,938.59,NaN,United Kingdom
540908,581492,DOT,DOTCOM POSTAGE,1,2011-12-09 10:03:00,933.17,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [33]:
data = data[~data['StockCode'].isin(['DOT',"POST", "M", "AMAZONFEE"])]

In [34]:
data = data[data.Quantity > 0]

In [35]:
data['TotalSales'] = data['Quantity'].multiply(data['UnitPrice'])

In [36]:
data[data.Quantity > 5000]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6
74614,542504,37413,NaN,5568,2011-01-28 12:03:00,0.00,NaN,United Kingdom,0.0
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.00,13256.0,United Kingdom,0.0
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.6

In [19]:
data = data[data.Quantity < 5000]

In [37]:
print (data.Description.isnull().sum())

587

In [38]:
data = data[data.Description.isnull() == False]

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528530 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    528530 non-null  object
 1   StockCode    528530 non-null  object
 2   Description  528530 non-null  object
 3   Quantity     528530 non-null  int64
 4   InvoiceDate  528530 non-null  datetime64[ns]
 5   UnitPrice    528530 non-null  float64
 6   CustomerID   396519 non-null  float64
 7   Country      528530 non-null  object
 8   TotalSales   528530 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 40.3+ MB

In [40]:
data = data.drop_duplicates()

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523304 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    523304 non-null  object
 1   StockCode    523304 non-null  object
 2   Description  523304 non-null  object
 3   Quantity     523304 non-null  int64
 4   InvoiceDate  523304 non-null  datetime64[ns]
 5   UnitPrice    523304 non-null  float64
 6   CustomerID   391332 non-null  float64
 7   Country      523304 non-null  object
 8   TotalSales   523304 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 39.9+ MB

In [43]:
products_database = data 
customers_database = data[data.CustomerID.isnull() == False]

In [44]:
products_database.to_excel("Products Database.xlsx")
customers_database.to_excel("Customers Database.xlsx")

RFM Analysis and export

In [45]:
import datetime as dt
now = dt.date(2011,12,9)
customers_database['Date'] = customers_database['InvoiceDate'].dt.date
customers_database.head()

recency_data = customers_database.groupby(by='CustomerID',
                                          as_index=False)['Date'].max()
recency_data.columns = ['CustomerID','LastPurshaceDate']
recency_data.head()
recency_data['Recency'] = recency_data['LastPurshaceDate'].apply(lambda x: 
                                                                 (now - x).days)
recency_data.drop('LastPurshaceDate',axis=1,inplace=True)

data_copy=customers_database
# drop duplicates
data_copy.drop_duplicates(subset=['InvoiceNo', 'CustomerID', "Country"], keep="first",
                          inplace=True)
#calculate frequency of purchases
frequency_data = data_copy.groupby(by=['CustomerID'], as_index=False)['InvoiceNo'].count()
frequency_data.columns = ['CustomerID','Frequency']
frequency_data.head()

monetary_data = customers_database.groupby(by='CustomerID',as_index=False).agg({'TotalSales': 'sum'})
monetary_data.columns = ['CustomerID','Monetary']
monetary_data.head()

rfm_data = recency_data.merge(frequency_data.merge(monetary_data,on='CustomerID'),on='CustomerID')
rfm_data.head()

C:\Users\dimit\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dimit\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   CustomerID  Recency  Frequency  Monetary
0     12346.0      325          1  77183.60
1     12347.0        2          7    163.16
2     12348.0       75          4    331.36
3     12349.0       18          1     15.00
4     12350.0      310          1     25.20

In [46]:
rfm_data.to_excel("RFM_data.xlsx")