In [3]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
os.chdir(r"C:\Users\dimit\Desktop\Laing O'Rourke Tech Assessment")

data = pd.read_excel("Online Retail.xlsx", parse_dates=["InvoiceDate"])

data.info()

data.InvoiceNo.str.contains("C").sum()
data = data[data.InvoiceNo.astype(str).str.contains("C") == False]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532621 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    532621 non-null  object
 1   StockCode    532621 non-null  object
 2   Description  531167 non-null  object
 3   Quantity     532621 non-null  int64
 4   InvoiceDate  532621 non-null  datetime64[ns]
 5   UnitPrice    532621 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      532621 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.6+ MB

In [8]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [10]:
data_copy=data

In [13]:
data_copy[data_copy['UnitPrice']>100].groupby(["StockCode"]).tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom
19428,537859,22828,REGENCY MIRROR WITH SHUTTERS,1,2010-12-08 16:11:00,165.00,14030.0,United Kingdom
25168,538354,22826,LOVE SEAT ANTIQUE WHITE METAL,2,2010-12-10 15:45:00,175.00,16873.0,United Kingdom
28902,538662,22656,VINTAGE BLUE KITCHEN CABINET,2,2010-12-13 15:44:00,125.00,15159.0,United Kingdom
31614,538999,22656,VINTAGE BLUE KITCHEN CABINET,2,2010-12-15 12:09:00,125.00,16003.0,United Kingdom
...,...,...,...,...,...,...,...,...
536834,581219,DOT,DOTCOM POSTAGE,1,2011-12-08 09:28:00,1008.96,NaN,United Kingdom
537254,581238,DOT,DOTCOM POSTAGE,1,2011-12-08 10:53:00,1683.75,NaN,United Kingdom
539368,581439,DOT,DOTCOM POSTAGE,1,2011-12-08 16:30:00,938.59,NaN,United Kingdom
540908,581492,DOT,DOTCOM POSTAGE,1,2011-12-09 10:03:00,933.17,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [14]:
data_copy[data_copy['UnitPrice']>1000].groupby(["StockCode"]).tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom
119632,546558,M,Manual,1,2011-03-15 09:50:00,2583.76,NaN,Hong Kong
144826,548813,M,Manual,1,2011-04-04 13:03:00,2382.92,12744.0,Singapore
144828,548813,M,Manual,1,2011-04-04 13:03:00,1252.95,12744.0,Singapore
144829,548820,M,Manual,1,2011-04-04 13:04:00,2053.07,12744.0,Singapore
145831,548913,M,Manual,1,2011-04-05 09:45:00,1136.30,12669.0,France
150615,549468,M,Manual,1,2011-04-08 14:27:00,1867.86,17940.0,United Kingdom
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom
200745,554155,M,Manual,1,2011-05-23 11:26:00,1241.98,12757.0,Portugal
201553,554301,M,Manual,1,2011-05-23 14:46:00,1241.98,12757.0,Portugal
232891,557377,M,Manual,1,2011-06-20 11:00:00,1917.00,NaN,EIRE
232892,557377,M,Manual,1,2011-06-20 11:00:00,1216.12,NaN,EIRE
268028,560373,M,Manual,1,2011-07-18 12:30:00,4287.63,NaN,United Kingdom
268432,560421,M,Manual,1,2011-07-18 15:13:00,1592.49,NaN,United Kingdom
297438,562946,M,Manual,1,2011-08-11 09:38:00,2500.00,15581.0,United Kingdom
299982,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom
343000,566927,M,Manual,1,2011-09-15 15:20:00,2033.10,17846.0,United Kingdom
347948,567353,M,Manual,1,2011-09-19 16:14:00,2653.95,NaN,Hong Kong
374542,569382,M,Manual,1,2011-10-03 16:44:00,3155.95,15502.0,United Kingdom
406406,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744.0,Singapore
406407,571751,M,Manual,1,2011-10-19 11:18:00,2118.74,12744.0,Singapore
422351,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536.0,France
422376,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536.0,France
449817,575138,DOT,DOTCOM POSTAGE,1,2011-11-08 15:24:00,1483.21,NaN,United Kingdom
461578,575947,DOT,DOTCOM POSTAGE,1,2011-11-13 11:50:00,1211.17,NaN,United Kingdom
467436,576339,DOT,DOTCOM POSTAGE,1,2011-11-14 15:27:00,1500.36,14096.0,United Kingdom
471487,576644,DOT,DOTCOM POSTAGE,1,2011-11-16 10:01:00,1556.08,NaN,United Kingdom
484492,577531,DOT,DOTCOM POSTAGE,1,2011-11-20 13:58:00,1236.75,NaN,United Kingdom
493020,578149,DOT,DOTCOM POSTAGE,1,2011-11-23 11:11:00,2275.54,NaN,United Kingdom
494728,578270,DOT,DOTCOM POSTAGE,1,2011-11-23 13:39:00,1270.06,14096.0,United Kingdom
502058,578833,DOT,DOTCOM POSTAGE,1,2011-11-25 15:23:00,2028.25,NaN,United Kingdom
508459,579196,DOT,DOTCOM POSTAGE,1,2011-11-28 15:54:00,1526.76,14096.0,United Kingdom
509370,579297,DOT,DOTCOM POSTAGE,1,2011-11-29 11:23:00,1563.00,NaN,United Kingdom
514543,579694,DOT,DOTCOM POSTAGE,1,2011-11-30 14:11:00,1119.63,NaN,United Kingdom
518712,580115,DOT,DOTCOM POSTAGE,1,2011-12-01 16:22:00,1042.84,NaN,United Kingdom
524892,580610,DOT,DOTCOM POSTAGE,1,2011-12-05 11:48:00,2196.67,NaN,United Kingdom
525134,580612,DOT,DOTCOM POSTAGE,1,2011-12-05 11:58:00,2114.00,NaN,United Kingdom
528082,580727,DOT,DOTCOM POSTAGE,1,2011-12-05 17:17:00,1599.26,14096.0,United Kingdom
528788,580729,DOT,DOTCOM POSTAGE,1,2011-12-05 17:24:00,1172.10,NaN,United Kingdom
533491,581023,DOT,DOTCOM POSTAGE,1,2011-12-07 10:35:00,1861.46,NaN,United Kingdom
536834,581219,DOT,DOTCOM POSTAGE,1,2011-12-08 09:28:00,1008.96,NaN,United Kingdom
537254,581238,DOT,DOTCOM POSTAGE,1,2011-12-08 10:53:00,1683.75,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [15]:
data_copy[data_copy['UnitPrice']>500].groupby(["StockCode"]).tail(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
15017,537632,AMAZONFEE,AMAZON FEE,1,2010-12-07 15:08:00,13541.33,NaN,United Kingdom
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom
187584,552980,POST,POSTAGE,1,2011-05-12 14:52:00,523.00,12590.0,Germany
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom
222682,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.50,15098.0,United Kingdom
236402,557754,POST,POSTAGE,1,2011-06-22 13:12:00,700.00,12432.0,Norway
242907,558381,M,Manual,1,2011-06-28 17:01:00,600.00,15299.0,United Kingdom
264976,560187,POST,POSTAGE,1,2011-07-15 12:05:00,550.94,17444.0,Canada
268028,560373,M,Manual,1,2011-07-18 12:30:00,4287.63,NaN,United Kingdom
268371,560411,M,Manual,1,2011-07-18 14:29:00,550.64,NaN,United Kingdom
268399,560413,M,Manual,1,2011-07-18 14:33:00,550.64,13564.0,United Kingdom
268430,560419,M,Manual,1,2011-07-18 15:03:00,717.23,NaN,United Kingdom
268432,560421,M,Manual,1,2011-07-18 15:13:00,1592.49,NaN,United Kingdom
268477,560431,M,Manual,1,2011-07-18 15:23:00,611.86,NaN,United Kingdom
269194,560439,M,Manual,1,2011-07-18 16:08:00,705.45,NaN,United Kingdom
297438,562946,M,Manual,1,2011-08-11 09:38:00,2500.00,15581.0,United Kingdom
299982,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom
323876,565377,M,Manual,1,2011-09-02 15:12:00,852.80,18087.0,United Kingdom
343000,566927,M,Manual,1,2011-09-15 15:20:00,2033.10,17846.0,United Kingdom
347948,567353,M,Manual,1,2011-09-19 16:14:00,2653.95,NaN,Hong Kong
374542,569382,M,Manual,1,2011-10-03 16:44:00,3155.95,15502.0,United Kingdom
398150,571223,M,Manual,1,2011-10-14 13:36:00,599.50,13810.0,Germany
406406,571751,M,Manual,1,2011-10-19 11:18:00,3949.32,12744.0,Singapore
406407,571751,M,Manual,1,2011-10-19 11:18:00,2118.74,12744.0,Singapore
422351,573077,M,Manual,1,2011-10-27 14:13:00,4161.06,12536.0,France
422376,573080,M,Manual,1,2011-10-27 14:20:00,4161.06,12536.0,France
455621,575632,M,Manual,1,2011-11-10 13:44:00,549.34,12473.0,Germany
468046,576389,M,Manual,1,2011-11-15 10:05:00,850.50,12748.0,United Kingdom
511992,579508,DOT,DOTCOM POSTAGE,1,2011-11-29 16:33:00,732.69,NaN,United Kingdom
512664,579512,DOT,DOTCOM POSTAGE,1,2011-11-29 16:47:00,620.22,NaN,United Kingdom
514543,579694,DOT,DOTCOM POSTAGE,1,2011-11-30 14:11:00,1119.63,NaN,United Kingdom
515281,579777,DOT,DOTCOM POSTAGE,1,2011-11-30 15:13:00,888.42,NaN,United Kingdom
515835,579787,DOT,DOTCOM POSTAGE,1,2011-11-30 15:33:00,988.00,NaN,United Kingdom
518712,580115,DOT,DOTCOM POSTAGE,1,2011-12-01 16:22:00,1042.84,NaN,United Kingdom
522086,580367,DOT,DOTCOM POSTAGE,1,2011-12-02 16:39:00,888.06,NaN,United Kingdom
524892,580610,DOT,DOTCOM POSTAGE,1,2011-12-05 11:48:00,2196.67,NaN,United Kingdom
525134,580612,DOT,DOTCOM POSTAGE,1,2011-12-05 11:58:00,2114.00,NaN,United Kingdom
528082,580727,DOT,DOTCOM POSTAGE,1,2011-12-05 17:17:00,1599.26,14096.0,United Kingdom
528788,580729,DOT,DOTCOM POSTAGE,1,2011-12-05 17:24:00,1172.10,NaN,United Kingdom
529478,580730,DOT,DOTCOM POSTAGE,1,2011-12-05 17:28:00,845.23,NaN,United Kingdom
532111,580983,DOT,DOTCOM POSTAGE,1,2011-12-06 16:26:00,736.38,NaN,United Kingdom
533491,581023,DOT,DOTCOM POSTAGE,1,2011-12-07 10:35:00,1861.46,NaN,United Kingdom
536048,581217,DOT,DOTCOM POSTAGE,1,2011-12-08 09:20:00,863.80,NaN,United Kingdom
536834,581219,DOT,DOTCOM POSTAGE,1,2011-12-08 09:28:00,1008.96,NaN,United Kingdom
537254,581238,DOT,DOTCOM POSTAGE,1,2011-12-08 10:53:00,1683.75,NaN,United Kingdom
539368,581439,DOT,DOTCOM POSTAGE,1,2011-12-08 16:30:00,938.59,NaN,United Kingdom
540908,581492,DOT,DOTCOM POSTAGE,1,2011-12-09 10:03:00,933.17,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom

In [16]:
data = data[~data['StockCode'].isin(['DOT',"POST", "M", "B", "AMAZONFEE"])]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 530450 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530450 non-null  object
 1   StockCode    530450 non-null  object
 2   Description  529001 non-null  object
 3   Quantity     530450 non-null  int64
 4   InvoiceDate  530450 non-null  datetime64[ns]
 5   UnitPrice    530450 non-null  float64
 6   CustomerID   396519 non-null  float64
 7   Country      530450 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.4+ MB

In [18]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  530450.000000  530450.000000  396519.000000
mean       10.252768       3.263790   15301.351718
std       159.863878       4.444612    1709.777503
min     -9600.000000       0.000000   12346.000000
25%         1.000000       1.250000   13975.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16801.000000
max     80995.000000     649.500000   18287.000000

In [19]:
data = data[data['Quantity']>0]

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 529114 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    529114 non-null  object
 1   StockCode    529114 non-null  object
 2   Description  528527 non-null  object
 3   Quantity     529114 non-null  int64
 4   InvoiceDate  529114 non-null  datetime64[ns]
 5   UnitPrice    529114 non-null  float64
 6   CustomerID   396519 non-null  float64
 7   Country      529114 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 36.3+ MB

In [21]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  529114.000000  529114.000000  396519.000000
mean       10.669795       3.272031   15301.351718
std       157.094645       4.447189    1709.777503
min         1.000000       0.000000   12346.000000
25%         1.000000       1.250000   13975.000000
50%         3.000000       2.080000   15159.000000
75%        11.000000       4.130000   16801.000000
max     80995.000000     649.500000   18287.000000

In [22]:
data['TotalSales'] = data['Quantity'].multiply(data['UnitPrice'])

In [23]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [26]:
print("Number of transactions: ", data['InvoiceNo'].nunique())
print("Number of products bought: ",data['StockCode'].nunique())
print("Number of customers:", data['CustomerID'].nunique() )
print("Percentage of customers NA: ", round(data['CustomerID'].isnull().sum() * 100 / len(data),2),"%" )

Number of transactions:  20558
Number of products bought:  3936
Number of customers: 4336
Percentage of customers NA:  25.06 %

In [29]:
data[data["Quantity"]>5000]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6
74614,542504,37413,NaN,5568,2011-01-28 12:03:00,0.00,NaN,United Kingdom,0.0
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.00,13256.0,United Kingdom,0.0
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.6

In [30]:
data = data[data.Quantity < 5000]dataset['InvoiceDate'].max()

Out[16]:

Timestamp('2011-12-09 12:50:00')

In [17]:

now = dt.date(2011,12,9)
print(now)

2011-12-09

In [18]:

#create a new column called date which contains the only the date of invoice
dataset['date'] = dataset['InvoiceDate'].dt.date

In [31]:
data.describe()

            Quantity     UnitPrice     CustomerID     TotalSales
count  529110.000000  529110.00000  396516.000000  529110.000000
mean       10.342311       3.27205   15301.361443      18.963443
std        39.009486       4.44720    1709.773478      84.162558
min         1.000000       0.00000   12347.000000       0.000000
25%         1.000000       1.25000   13975.000000       3.750000
50%         3.000000       2.08000   15159.000000       9.900000
75%        11.000000       4.13000   16801.000000      17.400000
max      4800.000000     649.50000   18287.000000   38970.000000

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 529110 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    529110 non-null  object
 1   StockCode    529110 non-null  object
 2   Description  528524 non-null  object
 3   Quantity     529110 non-null  int64
 4   InvoiceDate  529110 non-null  datetime64[ns]
 5   UnitPrice    529110 non-null  float64
 6   CustomerID   396516 non-null  float64
 7   Country      529110 non-null  object
 8   TotalSales   529110 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 40.4+ MB

In [35]:
print (data.Description.isnull().sum())

586

In [36]:
data = data[data.Description.isnull() == False]

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528524 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    528524 non-null  object
 1   StockCode    528524 non-null  object
 2   Description  528524 non-null  object
 3   Quantity     528524 non-null  int64
 4   InvoiceDate  528524 non-null  datetime64[ns]
 5   UnitPrice    528524 non-null  float64
 6   CustomerID   396516 non-null  float64
 7   Country      528524 non-null  object
 8   TotalSales   528524 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 40.3+ MB

In [39]:
products_database = data 
customers_database = data[data.CustomerID.isnull() == False]

In [40]:
customers_database['InvoiceDate'].max()

Timestamp('2011-12-09 12:50:00')

In [41]:
now = dt.date(2011,12,9)

NameError: name 'dt' is not defined

In [42]:
import datetime as dt

In [43]:
now = dt.date(2011,12,9)

In [44]:
customers_database['Date'] = customers_database['InvoiceDate'].dt.date

C:\Users\dimit\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
customers_database.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalSales,Date
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,2010-12-01

In [47]:
recency_data = customers_database.groupby(by='CustomerID', as_index=False)['Date'].max()
recency_data.columns = ['CustomerID','LastPurshaceDate']
recency_data.head()

   CustomerID LastPurshaceDate
0     12347.0       2011-12-07
1     12348.0       2011-09-25
2     12349.0       2011-11-21
3     12350.0       2011-02-02
4     12352.0       2011-11-03

In [48]:
recency_data['Recency'] = recency_data['LastPurshaceDate'].apply(lambda x: (now - x).days)

In [49]:
recency_data.head()

   CustomerID LastPurshaceDate  Recency
0     12347.0       2011-12-07        2
1     12348.0       2011-09-25       75
2     12349.0       2011-11-21       18
3     12350.0       2011-02-02      310
4     12352.0       2011-11-03       36